.subject-matter-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  margin-top: 20px;
}
.subject-matter-list span {
  margin: 0 5px;
  font-weight: normal;
  background: #2575fc;
  color: #fff;
  border-radius: 5px;
  padding: 2px;
  font-size: 10px;
}

.subject-matter-list input {
  margin: 0 20px;
  height: 0;
}

.subject-matter-list label {
  font-weight: normal;
  margin-bottom: 10px;
}
