.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  background: rgb(240, 240, 240);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 70px;
  border-radius: 5px;
}
.profile a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.profile a:hover {
  color: white;
}

.profile h2:first-of-type {
  margin-bottom: 5px;
}

.profile h2 {
  margin-bottom: 20px;
}

.profile h2:last-of-type {
  margin-top: 60px;
}

.profile h5 {
  margin-bottom: 20px;
  font-weight: 400;
}

.profile label {
  width: 190px;
  cursor: pointer;
  margin-bottom: 3px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.profile label p {
  font-size: 9px;
  margin: 7px 20px;
}

.profile label:hover {
  padding: 5px;
  margin: 0 5px;
  color: #fff;
  font-weight: 700;
  background: #2575fc;
  border-radius: 3px;
}
