nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  align-items: center;
  max-width: 100%;

  padding-top: 30px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.logo {
  grid-column: 2;
}

.login {
  grid-column: 10;
}

.sign-up {
  grid-column: 11;
}
.list span {
  padding: 0 20px;
}
